<!doctype html>
<html lang="{{ $.Lang }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#1a1a1a">

    <title>{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
    
    {{ $style := resources.Get "scss/bootstrap.scss"  | toCSS | postCSS (dict "use" "autoprefixer") | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
</head>

<body>
    {{ block "nav" . }}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
        <a class="navbar-brand" href='{{ "" | absURL }}'><span class="font-italic">apps </span>@ MXSHAO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-main" aria-controls="navbars-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbars-main">
            <ul class="navbar-nav ml-auto">
                {{ range .Site.Menus.apps }}
                    <li class='nav-item {{ if (or ($.IsMenuCurrent "apps" . ) ($.HasMenuCurrent "apps" . )) }}active{{ end }}'>
                        <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
                    </li>
                {{ end }} 
            </ul>
        </div>
    </nav>
    {{ end }}
    {{ block "main" . }}
    {{ end }}
    {{ block "footer" . }}
        <footer class="footer">
            <div class="text-center mail">
                <i class="far fa-envelope"></i>&nbsp;<a href="mailto:apps@mxshao.com">apps@mxshao.com</a>
            </div>
            <div class="text-center font-italic copyright text-light bg-dark">Copyright &copy; 2019 mxshao.com</div>
        </footer>
    {{ end }}

    {{ $jquery := resources.Get "js/jquery-3.3.1.slim.min.js" }}
    {{ $popper := resources.Get "js/popper.min.js" }}
    {{ $bootstrap := resources.Get "js/bootstrap.min.js" }}
    {{ $js := slice $jquery $popper $bootstrap | resources.Concat "js/bundle.min.js" | fingerprint }}
    <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
    
    {{ block "javascript" . }}
    {{ end }}
</body>


</html>